// Colors
$black: #000;

$whiteRed: #F3E8E5;

$gray-light: #C9C9C9;
$gray-dark: #4D4D4D;
$gray-dark-2: #2B2B2B;
$gray-dark-3: #363636;

$red: #CD0000;
$red-light: #F55050;
$red-light-2: #FE6969;
$red-border: #F49898;

$yellow: #D9B707;
$orange: #F66716;
$red-home: #FF0000;


// Fontsizes
$text-18: 1.8rem;

$title-24: 2.4rem;
$title-32: 3.2rem;
$title-48: 4.8rem;
$title-72: 7.2rem;

// Width
$max-width-94: 94rem;
$max-width-110: 110rem;